<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nfl.mapper.NflPostsMapper" >
  <resultMap id="BaseResultMap" type="com.nfl.pojo.NflPosts" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="post_ts" property="postTs" jdbcType="TIMESTAMP" />
    <result column="post_status" property="postStatus" jdbcType="INTEGER" />
    <result column="post_type" property="postType" jdbcType="INTEGER" />
    <result column="comment_count" property="commentCount" jdbcType="INTEGER" />
    <result column="like_count" property="likeCount" jdbcType="INTEGER" />
    <result column="share_count" property="shareCount" jdbcType="INTEGER" />
    <result column="topic_id" property="topicId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.nfl.pojo.NflPosts" extends="BaseResultMap" >
    <result column="post_content" property="postContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, post_ts, post_status, post_type, comment_count, like_count, share_count, 
    topic_id
  </sql>
  <sql id="Blob_Column_List" >
    post_content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.nfl.pojo.NflPostsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from nfl_posts
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.nfl.pojo.NflPostsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from nfl_posts
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from nfl_posts
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from nfl_posts
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.nfl.pojo.NflPostsExample" >
    delete from nfl_posts
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nfl.pojo.NflPosts" >
    insert into nfl_posts (id, user_id, post_ts, 
      post_status, post_type, comment_count, 
      like_count, share_count, topic_id, 
      post_content)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{postTs,jdbcType=TIMESTAMP}, 
      #{postStatus,jdbcType=INTEGER}, #{postType,jdbcType=INTEGER}, #{commentCount,jdbcType=INTEGER}, 
      #{likeCount,jdbcType=INTEGER}, #{shareCount,jdbcType=INTEGER}, #{topicId,jdbcType=INTEGER}, 
      #{postContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nfl.pojo.NflPosts" keyProperty="id" useGeneratedKeys="true">
    insert into nfl_posts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="postTs != null" >
        post_ts,
      </if>
      <if test="postStatus != null" >
        post_status,
      </if>
      <if test="postType != null" >
        post_type,
      </if>
      <if test="commentCount != null" >
        comment_count,
      </if>
      <if test="likeCount != null" >
        like_count,
      </if>
      <if test="shareCount != null" >
        share_count,
      </if>
      <if test="topicId != null" >
        topic_id,
      </if>
      <if test="postContent != null" >
        post_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="postTs != null" >
        #{postTs,jdbcType=TIMESTAMP},
      </if>
      <if test="postStatus != null" >
        #{postStatus,jdbcType=INTEGER},
      </if>
      <if test="postType != null" >
        #{postType,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null" >
        #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="likeCount != null" >
        #{likeCount,jdbcType=INTEGER},
      </if>
      <if test="shareCount != null" >
        #{shareCount,jdbcType=INTEGER},
      </if>
      <if test="topicId != null" >
        #{topicId,jdbcType=INTEGER},
      </if>
      <if test="postContent != null" >
        #{postContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nfl.pojo.NflPostsExample" resultType="java.lang.Integer" >
    select count(*) from nfl_posts
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update nfl_posts
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.postTs != null" >
        post_ts = #{record.postTs,jdbcType=TIMESTAMP},
      </if>
      <if test="record.postStatus != null" >
        post_status = #{record.postStatus,jdbcType=INTEGER},
      </if>
      <if test="record.postType != null" >
        post_type = #{record.postType,jdbcType=INTEGER},
      </if>
      <if test="record.commentCount != null" >
        comment_count = #{record.commentCount,jdbcType=INTEGER},
      </if>
      <if test="record.likeCount != null" >
        like_count = #{record.likeCount,jdbcType=INTEGER},
      </if>
      <if test="record.shareCount != null" >
        share_count = #{record.shareCount,jdbcType=INTEGER},
      </if>
      <if test="record.topicId != null" >
        topic_id = #{record.topicId,jdbcType=INTEGER},
      </if>
      <if test="record.postContent != null" >
        post_content = #{record.postContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update nfl_posts
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      post_ts = #{record.postTs,jdbcType=TIMESTAMP},
      post_status = #{record.postStatus,jdbcType=INTEGER},
      post_type = #{record.postType,jdbcType=INTEGER},
      comment_count = #{record.commentCount,jdbcType=INTEGER},
      like_count = #{record.likeCount,jdbcType=INTEGER},
      share_count = #{record.shareCount,jdbcType=INTEGER},
      topic_id = #{record.topicId,jdbcType=INTEGER},
      post_content = #{record.postContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update nfl_posts
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      post_ts = #{record.postTs,jdbcType=TIMESTAMP},
      post_status = #{record.postStatus,jdbcType=INTEGER},
      post_type = #{record.postType,jdbcType=INTEGER},
      comment_count = #{record.commentCount,jdbcType=INTEGER},
      like_count = #{record.likeCount,jdbcType=INTEGER},
      share_count = #{record.shareCount,jdbcType=INTEGER},
      topic_id = #{record.topicId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nfl.pojo.NflPosts" >
    update nfl_posts
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="postTs != null" >
        post_ts = #{postTs,jdbcType=TIMESTAMP},
      </if>
      <if test="postStatus != null" >
        post_status = #{postStatus,jdbcType=INTEGER},
      </if>
      <if test="postType != null" >
        post_type = #{postType,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null" >
        comment_count = #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="likeCount != null" >
        like_count = #{likeCount,jdbcType=INTEGER},
      </if>
      <if test="shareCount != null" >
        share_count = #{shareCount,jdbcType=INTEGER},
      </if>
      <if test="topicId != null" >
        topic_id = #{topicId,jdbcType=INTEGER},
      </if>
      <if test="postContent != null" >
        post_content = #{postContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.nfl.pojo.NflPosts" >
    update nfl_posts
    set user_id = #{userId,jdbcType=INTEGER},
      post_ts = #{postTs,jdbcType=TIMESTAMP},
      post_status = #{postStatus,jdbcType=INTEGER},
      post_type = #{postType,jdbcType=INTEGER},
      comment_count = #{commentCount,jdbcType=INTEGER},
      like_count = #{likeCount,jdbcType=INTEGER},
      share_count = #{shareCount,jdbcType=INTEGER},
      topic_id = #{topicId,jdbcType=INTEGER},
      post_content = #{postContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nfl.pojo.NflPosts" >
    update nfl_posts
    set user_id = #{userId,jdbcType=INTEGER},
      post_ts = #{postTs,jdbcType=TIMESTAMP},
      post_status = #{postStatus,jdbcType=INTEGER},
      post_type = #{postType,jdbcType=INTEGER},
      comment_count = #{commentCount,jdbcType=INTEGER},
      like_count = #{likeCount,jdbcType=INTEGER},
      share_count = #{shareCount,jdbcType=INTEGER},
      topic_id = #{topicId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>